on:
  repository_dispatch:
    types: [ copy-workflow ]

jobs:
  copy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cfg: ${{ github.event.client_payload.targets }}
    env:
      TEMPLATE_REPO_DIR: "target-repo"
      TEMPLATE_DIR: "templates"
      NEEDS_UPDATE: 0
      INITIAL_TEST_DEPLOYMENT: 0
      PR_TITLE: "sync: ${{ github.event.client_payload.github_event.pull_request.title }}"
    name: Update ${{ matrix.file }} on ${{ matrix.cfg.target }}
    steps:
    - name: Event JSON
      run: cat "$GITHUB_EVENT_PATH" | jq -M .
    - name: Pull Reqeust Link
      run: echo "${{ github.event.client_payload.github_event.pull_request.html_url }}"
    - name: Pull Request Title
      run: echo "${{ github.event.client_payload.github_event.pull_request.title }}"
    - name: Checkout ${{ matrix.cfg.target }}
      uses: actions/checkout@v2
      with:
        repository: ${{ matrix.cfg.target }}
        token: ${{ secrets.IPLDBOT_GITHUB_TOKEN }}
        persist-credentials: true
    - name: git config
      run: |
        git config user.name ipldbot
        git config user.email "ipldbot@users.noreply.github.com"
    - name: is initial test workflow deployment
      if [[ ! -f .github/workflows/go-test.yml ]]; then
        echo "INITIAL_TEST_DEPLOYMENT=1" >> $GITHUB_ENV
      fi
    - name: remove Travis on initial deployment
      if: ${{ env.INITIAL_TEST_DEPLOYMENT == 1 }}
      run: |
        git rm .travis.yml || true
        if ! git diff --quiet; then
          git commit -m "disable Travis"
          echo "NEEDS_UPDATE=1" >> $GITHUB_ENV
        fi
    - name: remove CircleCI on initial deployment
      if: ${{ env.INITIAL_TEST_DEPLOYMENT == 1 }}
      run: |
        git rm -r .circleci || true
        if ! git diff --quiet; then
          git commit -m "disable CircleCI"
          echo "NEEDS_UPDATE=1" >> $GITHUB_ENV
        fi
    - name: run go mod tidy
      run: |
        go mod edit -go 1.16
        go mod tidy
        if ! git diff --quiet; then
          git add .
          git commit -m "run go mod tidy"
          echo "NEEDS_UPDATE=1" >> $GITHUB_ENV
        fi
    - name: gofmt
      run: |
        gofmt -s -w .
        if ! git diff --quiet; then
          git add .
          git commit -m "run gofmt -s"
          echo "NEEDS_UPDATE=1" >> $GITHUB_ENV
        fi
    - name: Checkout template repository
      uses: actions/checkout@v2
      with:
        path: ${{ env.TEMPLATE_REPO_DIR }}
    - name: Create commits
      run: |
        for f in $(jq -r ".[]" <<< '${{ toJson(github.event.client_payload.files) }}'); do 
          echo -e "\nProcessing $f."
          # add DO NOT EDIT header
          tmp=$(mktemp)
          cat $TEMPLATE_REPO_DIR/$TEMPLATE_DIR/header.yml $TEMPLATE_REPO_DIR/$TEMPLATE_DIR/$f > $tmp
          mv $tmp $TEMPLATE_REPO_DIR/$TEMPLATE_DIR/$f
          # create commit, if necessary
          commit_msg=""
          if [[ ! -f "$f" ]]; then
            echo "First deployment.\n"
            commit_msg="add $f"
          else
            status=$(cmp --silent $f $TEMPLATE_REPO_DIR/$TEMPLATE_DIR/$f; echo $?)
            if [[ $status -ne 0 ]]; then
              echo "Update needed."
              commit_msg="update $f"
            else
              echo "File indentical. Skipping."
              continue
            fi
          fi
          dir=$(dirname $f)
          mkdir -p $dir
          cp $TEMPLATE_REPO_DIR/$TEMPLATE_DIR/$f $dir
          git add $f
          git commit -m "$commit_msg"
          echo "NEEDS_UPDATE=1" >> $GITHUB_ENV
        done
        rm -rf $TEMPLATE_REPO_DIR
    - name: Create Pull Request
      if: ${{ env.NEEDS_UPDATE == 1 }}
      uses: peter-evans/create-pull-request@052fc72b4198ba9fbc81b818c6e1859f747d49a8 #v3.8.2
      with:
        title: ${{ env.PR_TITLE }}
        body: |
          Change introduced by ${{ github.event.client_payload.github_event.pull_request.html_url }}.
          ---
          You can trigger a rebase by commenting `@ipldbot rebase`.
        token: ${{ secrets.IPLDBOT_GITHUB_TOKEN }}
        committer: ipldbot <ipldbot@users.noreply.github.com>
        author: ipldbot <ipldbot@users.noreply.github.com>
        branch: web3-bot-sync
        delete-branch: true
