on:
  repository_dispatch:
    types: [ copy-workflow ]

jobs:
  debug:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        workflow: ${{ github.event.client_payload.workflows }}
    name: ${{ matrix.workflow }} workflow
    steps:
      - run: cat "$GITHUB_EVENT_PATH" | jq -M .
