on:
  pull_request:
    branches: [ master ]
    types: [ closed ]

env:
  MAX_REPOS_PER_WORKFLOW: 3
  FILES: '[ ".github/workflows/autorebase.yml", ".github/workflows/automerge.yml", ".github/workflows/go-test.yml", ".github/workflows/go-check.yml" ]' # a JSON array of the files to distribute

jobs:
  matrix:
    if: github.event.pull_request.merged == true
    name: Trigger copy workflows
    runs-on: ubuntu-latest
    outputs:
      targets: ${{ steps.set-matrix.outputs.targets }}
    steps:
      - uses: actions/checkout@v2
      - id: set-matrix
        run: |
          TARGETS=$(jq '. | _nwise(${{ env.MAX_REPOS_PER_WORKFLOW }})' .github/workflows/config.json | jq -sc '. | to_entries')
          echo $TARGETS
          echo "::set-output name=targets::$TARGETS"
  dispatch:
    if: github.event.pull_request.merged == true
    needs: [ matrix ]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cfg: ${{ fromJson(needs.matrix.outputs.targets) }}
    name: Start copy workflow (batch ${{ matrix.cfg.key }})
    steps:
      - uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.IPLDBOT_GITHUB_TOKEN }}
          event-type: copy-workflow
          client-payload: '{ "github_event": ${{ toJson(github.event) }}, "files": ${{ env.FILES }}, "targets": ${{ toJson(matrix.cfg.value) }} }'
